body{
    background-color: rgb(245, 245, 220);
    
}

h1{
    padding-top: 150px;
    text-align: center;
    font-size: 50px;
    color: rgb(165, 42, 42);
}

h2{
    text-align: center;
    font-size: 30px;
    color: rgb(165, 42, 42);
}

p{
    text-align: center;
    color: rgb(165, 42, 42);
    font-size: 20px;
    font-weight: 600;
}

li{
    color: rgb(165, 42, 42);
    color: rgb(255, 255, 255);
    border: none;
    text-align: center;
    margin: inherit;
}

button{
    background-color: rgb(165, 42, 42);
    color: rgb(245, 245, 220);
    border: 1px solid rgb(0, 0, 0);
    text-align: center;
    font-size: 15px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    align-items: center;
}

div{
    text-align: center;
}