<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/styles.css" />
    <title>Ejercicios JS</title>
  </head>
  <body>
    <h1>Ejercicios Nivel 3</h1>
    <p>A continuación se encuentran los ejercicios de nivel 2:</p>

    <div>
        <h2>Ejercicio 1: For</h2>
      <button id="btnEjercicioUno">Ejecutar Ej1</button>
    </div>

    <li>
      <a href="../views/ejercicios-lvl1.html">Ejercicios nivel 1</a>
      <a href="../views/ejercicios-lvl2.html">Ejercicios nivel 2</a>
      <a href="../index.html">Volver al home</a>
    </li>

    <script src="../js/nivel3/ejercicio-lvl3-1.js"></script>
  </body>
</html>
