<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/styles.css" />
    <title>Ejercicios JS</title>
  </head>
  <body>
    <h1>Ejercicios Nivel 2</h1>
    <p>A continuación se encuentran los ejercicios de nivel 2:</p>

    <div>
        <h2>Ejercicio 1: Suma de dos números</h2>
      <button id="btnEjercicioUno">Ejecutar Ej1</button>

        <h2>Ejercicio 2: Operaciones matemáticas</h2>
      <button id="btnEjercicioDos">Ejecutar Ej2</button>

      <h2>Ejercicio 3: Datos personales</h2>
      <h2 id="nombre">Tu nombre es: </h2>
      <h2 id="cedula">Tu cédula es: </h2>
      <h2 id="edad">Tu edad es: </h2>
      <button id="btnEjercicioTres">Ejecutar Ej3</button>

      <h2>Ejercicio 4: LocalStorage</h2>
      <h2 id="nombre2">Tu nombre es: </h2>
      <h2 id="cedula2">Tu cédula es: </h2>
      <h2 id="edad2">Tu edad es: </h2>
      <button id="btnEjercicioCuatro">Ejecutar Ej4</button>
    </div>

    <li>
      <a href="../views/ejercicios-lvl1.html">Ejercicios nivel 1</a>
      <a href="../views/ejercicios-lvl3.html">Ejercicios nivel 3</a>
      <a href="../index.html">Volver al home</a>
    </li>

    <script src="../js/nivel2/ejercicio-lvl2-1.js"></script>
  </body>
</html>
