body{
    background-color: black;
}

h1{
    color: brown;
    font-size: 20px;
    text-align: center;
}

h2{
    font-size: 20px;
    text-align: center;
}

button{
    background-color: rgb(165, 42, 42);
    color: rgb(245, 245, 220);
    border: 1px solid rgb(0, 0, 0);
    text-align: center;
    font-size: 15px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    align-items: center;
}

div{
    text-align: center;
}

#nombre{
    color: yellow;
}

#edad{
    color: red;
}

#cedula{
    color: wheat;
}

#direccion{
    color: aquamarine;
}

#telefono{
    color: blueviolet;
}

#tiposangre{
    color: green;
}

#estadocivil{
    color: blue;
}
